/*** OVERRIDES ***/
h1, h2, h3, h4, p, figure {
    margin: 0;
    /* overrides default margins */
  }
  
  ul {
    padding: 0;
    /* overrides default padding on lists */
  }


/*** BASE STYLES ***/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
    font-size: 16px;
    width: 100%;
}


/* HEADER */

header {
    background: url("../img/edward-howell-flower-buds.jpg");
    background-size: cover;
    background-position: center;
}

/*---------- NAVBAR ---------*/

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navbar-container h1 {
 font-family: 'Lora', serif;
 color: #bbc085;
 font-size: 2em;
}

.navbar-container ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    color: #828282;
    margin-left: 15px;
}

/*---------- HERO ---------*/

.hero-container {
    padding: 50px 50px 75px 50px;
}

.hero-container h2 {
    width: 75%;
    font-family: 'Lora', serif;
    font-size: 4.5em;
    line-height: 1.5em;
    color: #9b9b9b;
}

.hero-container h2 span {
    color: #2b2b2b;
}

.hero-container h3 {
    width: 90%;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: normal;
    color: #2b2b2b;
    margin-top: 50px;
}

/*** GENERAL SECTION STYLING ***/
section {
    padding: 50px;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 25px 0;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2.75em;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
}

/* ABOUT */

#about .content-item {
    width: 95%;
    padding: 15px 0;
}

#about p {
    color: #7f7f7f;
}

/* WORK */
#work {
    background-color: #f9ceb7;
}

#work h2 {
    text-align: center;
}

#work .content-container {
    /* margin-top: 50px; */
}

#work .content-item {
    width: 55%;
    text-align: center;
    margin: 50px 25px;
}

#work h3 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

#work p {
    font-family: 'Lora', serif;
}

.fontawesome-icon i {
    font-size: 7em;
    padding-bottom: 30px;
}

/* FOOTER */
/*---------- CONTACT ---------*/
#contact {
    background-color: #ebebeb;
}

#contact .content-container {
    padding: 50px; /* matches padding for sections */
}

#contact .content-item {
    margin-bottom: 50px;
}

#contact-info {
    width: 95%;
}

#contact-info h3 {
    font-size: 2em;
    line-height: 1.5em;
}

#email-header {
    margin-top: 25px;
    font-weight: 400; /* overrides default bold weight for h3 */
}

#contact-info a {
    text-decoration: none;
    color: #c49075;
    font-size: 1.75em;
}

#socialmedia-header {
    margin-top: 50px;
}

#contact-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 45%;
}

#contact-info ul i {
    font-size: 2.5em;
}

#contact-image {
    width: 95%;
}

#contact-image img {
    width: 100%;
    border: 12px solid #ffffff;
}

/*---------- COPYRIGHT ---------*/

#copyright {
    text-align: center;
}



/*--------------- OLD CODE TO BE UPDATED -------------------*/
/*
#contact-img { 
    border: 12px solid #ffffff;
}

#contact img {
    width: 100%;
}


#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}

#email-header {
    font-size: 32px;
    font-weight: 400; why do you have to include font-weight?
    line-height: 44px;
    margin: -30px 0 5px 0;
}

#socialmedia-header {
    font-size: 29px;
    line-height: 44px;
    font-weight: bold; why do you have to include font-weight?
    margin-top: 40px;
}

#contact a {
    text-decoration: none;
    color: #c49075;
    font-size: 28px;
    font-weight: bold; I still don't get why font-weight is prompted for?
    
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 32px; 
}
*/